@media screen and (max-width: 1500px) {
.swiper-pagination {
    right: -40px;
}

}


@media screen and (max-width: 1400px) {


.navbar-nav .nav-item {
    padding: 0 6px;
}

.navbar-nav a {
    font-size: 15px;
}


.inner-footer-box .right-footer {
    width: 100%;
    padding: 45px 0 0;
}

.inner-footer-box .item-footer {
    width: calc(28% - 20px);
}

.inner-footer-box .item-footer:nth-child(1), .inner-footer-box .item-footer:nth-child(2) {
    width: calc(22% - 20px);
}

.navbar-nav li .nav-link {
    padding: 0 14px;
}


ul.sub-menu li.nav-item a {
    font-size: 16px;
}

/* .logo img {
    max-width: 170px;
} */

h1 {
    font-size: 45px;
    line-height: 48px;
}

.home-page-banner .banner-details-text {
    max-width: 500px;
}

footer h4 {
    font-size: 20px;
}

footer a {
    font-size: 15px;
}

.inner-footer-box p {
    font-size: 15px;
}

.top-footer .footer-inner-box:nth-child(2) .footer-box {
    padding-left: 15px;
}



.tabs-position-sec {
    padding: 20px 50px;
    right: 20px;
}

.tabs-donate .btn-theme {
    font-size: 25px;
}

h2.h-h2 {
    font-size: 40px;
    line-height: 50px;
}

.info-card {
    padding: 30px 15px;
}

.card-content h4 {
    font-size: 16px;
}

.card-icon {
    width: 50px;
    height: 50px;
}

.impact-sec .inpact-box {
    padding: 15px;
}

.impact-sec .inpact-box p {
    font-size: 16px;
}

.events-section .event-list h4 {
    font-size: 18px;
}


.next-prev-btn {
    left: 640px;
}


.next-prev-btn .swiper-button-next, .next-prev-btn .swiper-button-prev {
    width: 38px;
    height: 38px;
    padding: 10px;
}

.about-banner {
    padding: 60px 0 185px;
}


.vision-box h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.global-network-sec {
    margin: -100px 0 75px;
    background-position: left top;
}


.islamic-centre-sec .islamic-box {
    padding: 20px;
}

}



@media screen and (max-width: 1199px) {

.navbar-nav .nav-item {
    padding: 0 14px;
}

.welcome-sec .welcome-box .text-box {
    padding: 100px 15px 15px;
}

.navbar-nav a {
    font-size: 18px;
}

.navbar-nav a{ font-size: 14px;}
.navbar-nav .nav-item {padding: 0px 8px;}
.header .btn-primary {font-size: 14px;padding:10px;min-width: 94px;}
.header .btn {margin-left: 10px; margin-top: 5px;}
.header .btn-primary i{ display: none;}

.header-right .navbar-nav {flex-direction: column;}
.header .offcanvas-start {background: var(--Primary-Color);}
.offcanvas-start { border-right: none; width: 300px;}
.header-right .offcanvas-body {align-items: self-start;padding: 20px 0px;}
.header-right .offcanvas-body nav {width: 100%;}
.navbar-nav .nav-item {padding:0px 20px;}
.navbar-nav li .nav-link {padding: 10px 0px;color: #fff;}
.navbar-nav .nav-link{ font-size: 16px;color: #fff;text-align: left;}
.header .border-bottom {border-bottom: 1px solid #3f3f3f !important;}
.logo{max-width: 160px; padding-right: 10px;}
/* .main {margin-top: 81px;} */

/* header.header {
    padding: 15px 0;
} */


.navbar-nav .nav-item .dropdown-menu {
    position: static !important;
    background: transparent;
    padding: 8px 12px 12px !important;
}

.navbar-nav .nav-item .dropdown-menu li a {
    color: #fff;
    padding: 0;
    font-size: 15px;
}

.navbar-nav .nav-item .dropdown-menu li:not(:last-child) a {
    padding-bottom: 10px;
}

body.home-page .bar1, body.home-page .bar2, body.home-page .bar3 {
    background-color: var(--white);
}

.home-page-banner img {
    min-height: 800px;
}

.top-footer .footer-inner-box {
    width: calc(50% - 20px);
    margin-bottom: 45px;
}

.top-footer .footer-inner-box:nth-child(2) {
    width: calc(50% - 20px);
}

.top-footer .footer-inner-box:nth-child(2) .footer-box {
    padding: 0;
}

.top-footer {
    padding: 100px 0 60px;
}

.tabs-position-sec {
    width: 400px;
    padding: 20px;
}

.tabs-donate .btn-theme {
    font-size: 20px;
}

body.home-page .sticky .navbar-nav li .nav-link {
    color: var(--white);
}

h2.h-h2 {
    font-size: 32px;
    line-height: 40px;
}

h2 {
    font-size: 32px;
    line-height: 40px;
}

.info-card .icon-add {
    bottom: 9px;
}

.py-100 {
    padding: 60px 0;
}

.next-prev-btn {
    left: 511px;
    top: 23px;
}

.event-item .event-thumb {
    width: 175px;
}

.events-section .event-list h4 {
    font-size: 16px;
    line-height: 22px;
}

.btn-theme {
    padding: 10px 25px;
}

.testimonials-wrapper {gap: 40px;}


.vision-box {
    padding: 15px;
}

.vision-box p {
    margin: 0;
}

.board-director-sec .board-member-box .member-text {
    padding: 15px;
}



.about-banner {
    padding: 60px 0;
}

.vision-mission-sec {
    bottom: 50px;
}

.inner-vision-mission {
    flex-wrap: wrap;
}

.vision-box {
    width: 100%;
    padding: 30px;
}

.vision-box:nth-child(1) {
    width: 100%;
}

.global-network-sec {
    margin: 0;
}


.py-80 {
    padding: 50px 0;
}

.services-slider .service-box-banner .text-box {
    padding: 0 30px;
}

.text-service-box .service-box {
    font-size: 16px;
}

.text-service-box .service-box .arrow svg {
    width: 11px;
}


.islamic-centre-sec {
    padding: 40px 0 60px;
}

.islamic-centre-sec .islamic-slider {
    margin-top: 25px;
}

.islamic-centre-sec .islamic-slider .islamic-center-box {
    max-width: 80%;
}

.islamic-centre-sec .islamic-slider .service-btn {
    max-width: 86%;
}


.sec-banner-main { min-height: 400px;}
.imp-card{ min-height: inherit;}


}

@media screen and (max-width: 991px) {



.top-header .text-header {
    position: static;
    margin-left: 0;
}

.bottom-footer p {
    position: static;
    text-align: center;
    padding-top: 23px;
    display: block;
}

.top-footer {
    padding: 60px 0 10px;
}

.bottom-footer {
    padding: 20px 0;
}

h1 {
    font-size: 35px;
    line-height: 41px;
}

.home-page-banner img {
    min-height: 700px;
}



.tabs-position-sec {
    position: static;
    width: 100%;
    padding: 20px 0;
}

.logo img {
        max-width: 122px;
        height: auto;
    }

.blog-image { width: 320px;}
.blog-item .blog-content{ padding: 20px;}
.media-cards .media-title {
    font-size: 18px;
    line-height: 28px;
}

.media-label {
    margin-bottom: 10px;
}

.tags { padding: 10px;}
.tags span { font-size: 14px; line-height: 20px;}
.tags { gap: 5px;}
.announcement {
    padding: 20px 20px;
}

.media-cards {
    min-height: initial;
}

.media-coverage-section [class*='col-']:not(:last-child){ margin-bottom: 20px;}

.blog-item .d-flex {flex-direction: column;}
.blog-image {width: 100%;}
.testimonial-card .card-content-lower { padding: 20px;}
.testimonial-card .card-content-lower h4 {font-size: 20px;}



.network-img {
    margin: 0;
}

.network-img img {
    width: 100%;
}

.global-network-sec {
    background-size: 75%;
    background-position: left bottom  24px;
    margin-bottom: 50px;
}

.global-network-sec .row {
    flex-direction: column-reverse;
}

.board-director-sec {
    padding-bottom: 40px;
}



.impact-cards-section [class*='col-']:not(:last-child){ margin-bottom: 25px;}
.sec-contribute {padding: 30px 0px;}   


}


    
@media screen and (max-width: 767px) {
    


.container {padding: 0 15px;}

.top-header p a {
    display: block;
}

.top-header .text-header {
    width: 100%;
    margin: 0 auto;
}

.top-header p {
    line-height: 22px;
}

.top-header {
    padding: 6px 0;
}

.logo img {
    max-width: 108px;
}

.btn-green {
    padding: 10px 12px !important;
}

h1 {
    font-size: 26px;
    line-height: 35px;
}

.home-page-banner p {
    margin: 18px 0 25px;
}

.home-page-banner .banner-details-text {
    left: 15px;
    max-width: calc(100% - 40px);
    bottom: 80px;
}

.btn-theme {
    padding: 11px 22px;
}

.swiper-pagination {
    bottom: 20px !important;
}

.top-footer .footer-inner-box {
    width: 100%;
    margin: 0 0 30px;
}

.top-footer .footer-inner-box:nth-child(2) {
    width: 100%;
}

.box-com-footer ul {
    width: 100%;
}

footer h4 {
    font-size: 18px;
    margin-bottom: 17px;
}




.next-prev-btn {top: auto;bottom: -35px;left: 64px;}

.impact-sec.py-100 {
    padding-bottom: 100px;
}

.py-100 {
    padding: 45px 0;
}

h2.h-h2, h2 {
    font-size: 26px;
    line-height: 35px;
}

.tabs-position-sec h2 {
    font-size: 24px;
}

.events-section h4 {
    line-height: 25px;
}

.event-item .event-thumb {
    width: 100px;
}

.events-section .event-list h4 {
    margin: 5px 0 8px 0;
    font-size: 13px;
    line-height: 17px;
}

.event-item {
    gap: 10px;
}

.event-list .btn-theme {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 17px;
}

.event-date {
    display: block;
}

.event-item .event-thumb img {
    height: 100%;
    object-fit: cover;
}

.subtitle {
    gap: 6px;
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 5px;
}

.testimonials-wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 30px;
}

.py-50 { padding: 25px 0px;}
.sec-blog-articles .block-header{ margin-bottom: 25px;}
.media-coverage-section{ padding: 25px 0px;}
.media-swiper .swiper-slide {margin-bottom: 30px;}
.view-all-wrapper .btn-theme { min-width: 130px;}
.impact-card img {
    min-height: 200px;
    object-fit: cover;
}


.about-banner {
    background-size: cover;
    background-position: left;
}

.vision-box {
    padding: 25px 15px;
}

.global-network-sec {
    margin-bottom: 30px;
}





.services-slider img {
    min-height: 400px;
    object-fit: cover;
}

.services-slider .service-box-banner .text-box p {
    line-height: 22px;
    font-size: 14px;
}

.service-btn .swiper-button-prev, .service-btn .swiper-button-next {
    width: 30px;
    height: 30px;
    padding: 7px;
}

.services-slider .service-box-banner .text-box {
    padding: 0 40px;
}


.islamic-centre-sec .islamic-slider .islamic-center-box img {
    min-height: 250px;
    object-fit: cover;
}

.islamic-centre-sec:before {
    height: 80%;
}

.islamic-centre-sec .islamic-box h4 {
    font-size: 20px;
    margin-bottom: 10px;
}


.sec-banner-main {
    min-height: inherit;
    padding: 30px 0px;
}
.imp-card {
    padding: 15px;
}

.imp-icon {
    min-height: inherit;
}

.imp-icon img {
    width: 60px;
}

.imp-card p {
    font-size: 18px;
    line-height: 23px;
}


}
    
    
       
           
           
           